.App-hero {
    font-family: sans-serif;
    padding: 1rem;
}

.App-reservations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
}